{% load static %}
<head>
</head>
<div>
  <ul>
    <li style="float: left;padding: 10px;" id="facultyName"><label>F C A I</label></li>
    <ul>
      <li><a href="{% url 'base:about' %}">About</a></li>
      <li><a href="{% url 'base:login' %}">Login</a></li>
      <li><a href="{% url 'base:add' %}">Add</a></li>
      <li><div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Menu</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="{% url 'base:search' %}">Search</a>
        <a href="{% url 'base:edit' %}">Edit</a>
        <a href="{% url 'base:select' %}">Select</a>
        <a href="{% url 'base:show' %}">Show</a>
      </div>
    </div></li>
      <li><a  href="{% url 'base:home' %}">Home</a></li>

    </ul>
</ul></div>

<script>
    function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
